manager/.env
# Written by deploy/deploy.sh so the server can name the bundled stack commit.
manager/.stack-commit
manager/node_modules
manager/dist
*.log
.DS_Store

node_modules
*.tsbuildinfo
manager/test/integration/env.itest
